html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: :inherit;
}

:root {
--main-color:  #212121;
--accent-color: #2196F3;
}
body {
    color: var(--main-color);
  }
  
  .address, .contacts {
    font-style: normal;
  }

            /*======================-page-header======================*/
.header{
    background-color: #FFFFFF;
    justify-content: flex-start;
  
}
.header-container{
    display:flex;
    width: 1200px;
    padding-left: 200px;
    padding-right: 200px;
    border: 1px solid #ECECEC;
}


                             /*=======navigation=======*/
.site-nav{
    display:flex;
    justify-content: flex-start;
    align-content:center;
    align-items: center;
}

 .site-nav-list{
     padding: 0;
     margin: 0;
     display: flex;
     align-content:center;
 }

.site-nav-list-item:not(:last-child){
    margin-right: 50px;
}

.site-nav-list-link {
    font-family:"Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration:none;
}
.site-nav-list-item{
    list-style-type: none;}

.site-nav-list-link.is-current  {
    color: var(--accent-color);
    text-decoration:none;    
}
.site-nav-list-link:hover,
.site-nav-list-link:focus

{
color: var(--accent-color);
}

.site-nav-list-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 24px;
}

.logo-web{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.385;
    letter-spacing: 0.03em;
    color: #2196F3;}
.logo-s{
    margin-right: 93px;
    
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.385;
    letter-spacing: 0.03em;
    color:var(--main-color);    
}

.logo-link { 
    display: block;
    padding-top: 24px;
    padding-bottom: 17px;
    
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.385;
    letter-spacing: 0.03em;
    text-decoration:none;
}

.logo-link:hover,
.logo-link:focus  
{
color: var(--accent-color);
}
                             /*=======END-navigation=======*/

                             /*=======contacts-top-page=======*/

.contact-container{
    display:flex;
    justify-content:flex-end;
    align-content:center;
    align-items: center;
    margin-left: 331px;
}
 .address-mail, .address-tel {
    font-family:"Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #757575;   
    text-decoration:none;
 }
 .address-mail{
    margin-right: 50px;}
 .address-mail:hover, 
 .address-mail:focus,
 .address-tel:hover,
 .address-tel:focus{
color: var(--accent-color);
 }
                        /*=======END-contacts-top-page=======*/

            /*======================END-page-header======================*/


             /*======================page-footer======================*/
                                /*=======logo=======*/
.footer{
    width: 1600px;
    background: #2F303A;  
} 
.footer-container{
    display:block;
    width: 1200px;
    margin-left: 200px;
    margin-right: 200px;
} 
 .footer-logo-web{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.385;
    letter-spacing: 0.03em;
    color: #2196F3;}
.footer-logo-s{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.385;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
                            
.footer-logo-link { 
    display: block;
    padding-top: 60px;
    width: 145px;

    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.385;
    letter-spacing: 0.03em;
    text-decoration:none;
}
                            
.footer-logo-link:hover,
.footer-logo-link:focus {
    color: var(--accent-color);
}
                                      /*=======END-logo=======*/

                                /*=======contacts-down-page=======*/

.address-container{
    padding-bottom: 51px;
    margin-top: 20px;
}
.contacts-list{
    padding: 0;
    margin: 0;
}                                
.contacts-list-item{
    list-style-type: none;}
                            
.contacts-list-link-mail,.contacts-list-link-tel {
    display: block;
    padding-bottom: 9px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.02em;
    text-decoration:none;
    color:rgba(255, 255, 255, 0.6);   
}
 .contacts-list-link-address{
    display: block;
    padding-bottom: 6px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.02em;
    text-decoration:none;
    color:#FFFFFF;   
}
.contacts-list-link-mail:focus,
.contacts-list-link-mail:hover, 
.contacts-list-link-tel:focus,
.contacts-list-link-tel:hover,
.contacts-list-link-address:hover,
.contacts-list-link-address:focus{
    color: var(--accent-color);
}                             
                           /*=======END-contacts-down-page=======*/

            /*======================END-page-footer======================*/
 


                         /*============PORTFOLIO============*/

                              /*=======filters=======*/
.products{
    width: 1200px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    align-content:center;
    align-items: center; 
}
                              
.filters-container{
    min-width: 611px;
    margin-top: 100px;
    margin-bottom: 34px;
    text-align: center;  
    justify-content: center;
    align-content:center;
    align-items: center; 
}

.filters-list{
    padding: 0;
    margin: 0;
    display: flex;
    align-content:center;
    justify-content: center;
    align-content:center;
    align-items: center; 
   
}

.filters-list-item{
    list-style-type: none;}

.filters-list-item:not(:last-child){
    margin-right: 8px;
}
                    
.filters-products-btn,.filters-sites-btn,.filters-app-btn,
.filters-design-btn,.filters-marketing-btn{
    padding: 6px 22px;
    min-width: 73px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    border-radius: 4px;
    color: var(--main-color);
    border: 1px solid transparent;
}

.filters-products-btn:focus,.filters-products-btn:hover,
.filters-sites-btn:focus,.filters-sites-btn:hover,
.filters-app-btn:focus, .filters-app-btn:hover,
.filters-design-btn:focus,.filters-design-btn:hover,
.filters-marketing-btn:focus, .filters-marketing-btn:hover{
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
                        
                             /*=======products-types=======*/
.product-container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.products-types-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-types-list-item{

   list-style-type: none;
   width: 370px;
   margin-right: 30px;
   margin-bottom: 30px;
   border: 1px solid #EEEEEE;
}
.products-types-list-item:nth-child(3n){
    margin-right: 0;
}

.products-types-list-item:nth-last-child(-n+3){
    margin-bottom: 75px;
}
.products-types-img-link{
    text-decoration:none;
 }

 .products-title{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
 }           
 
 .products-types-definition{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.185;
    letter-spacing: 0.03em;
    color: #757575;
 }
 



                   /*============MAIN-PAGE============*/


                         /*=======to-order=======*/

.slogan-container{
width: 1600px;
background-color: #2F303A;
text-align: center;  
justify-content: center;
align-content:center;
align-items: center; 
}


.slogan-title{
padding-top: 200px;
padding-right: 452px; 
padding-left: 452px;
margin-top: 0;   
margin-bottom: 30; 
width: 696px;

font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 1.364;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;

}
.slogan-btn-order{
display: inline-block;
padding: 10px 32px;
min-width: 200px;
margin-top:0;
margin-bottom: 200px;

font-family: Roboto;
font-weight: 900;
font-size: 16px;
line-height: 1.875;
align-items: center;
letter-spacing: 0.06em;
color: #FFFFFF;

background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;}                 

                             /*=======advantages=======*/
.advantages-container{
    width: 1170px;
    margin-top: 109px;
    margin-right: 215px;
    margin-left: 215px;
    margin-bottom: 94px;
}

.advantages-list{
    padding: 0;
    margin: 0;
    display: flex;
}

.advantages-list-item {
    list-style-type: none;
    width: 270px;
}
.advantages-list-item:not(:last-child){
    margin-right: 30px;
}
.advantages-list-title{
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;}

.advantages-description{
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #757575;
}

                              /*=======activity=======*/
.activity-section{
width: 1170px;
margin-right: 215px;
margin-left: 215px;
margin-top: 94px;
margin-bottom: 94px;
}

.activity-title{
min-width: 376px;
margin-bottom: 50px;
font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.activity-list{
    padding: 0;
    margin: 0;
    display: flex;
}
.activity-list-item {
    list-style-type: none;
}
.activity-list-item:not(:last-child){
    margin-right: 30px;
}    

                              /*=======team=======*/

.team-section{
    width: 1600px;
    background-color: #F5F4FA;
 
}

.team-title{
padding-top: 94px;

margin-top: 0;   
margin-bottom: 50; 
min-width: 264px; 

font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-section-container{
    display: flex;
    width: 1170px;
    padding-bottom: 94px;
    margin-right: 215px;
    margin-left: 215px; 
    text-align: center;    
}
.team-list{
    padding: 0;
    margin: 0;
    display: flex;
}
.team-list-item {
    list-style-type: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list-item:not(:last-child){
    margin-right: 30px;
}    


.team-member-name{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: #212121;
}   

.team-member-prof{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: #757575;    
}                              